doctype html
html(lang='en-US')
    head
        include head.pug
    
    body
        img.bg(src='/disco.jpg')
        main
            block content

        //
            .
            DDDDDDDDDDDD       iii                        CCCCCCCCCCCCCC
            D00110000001D     i100i                     CC01001101110011C
            DD000DDDDD101D     iii                     C10001CCCCCCCC000C
             D111D    D000D   iiiii     sssssssss     C0110C         CCC    ooooooooo
             D001D     D000D  i110i    s111:00110ss  C1100C                o110010101o
             D100D     D010D   i00i   s110ssss011:s  C0011C               o011ooooo100o
             D110D     D110D   i00i   s111ss  ssss   C0000C               o01o     o11o
             D000D     D:00D   i11i    ss1000sss     C0110C               o00o     o11o
             D011D     D000D   i11i      sss0011ss   C0110C               o:0o     o11o
             D001D    D010D    i01i   sssss sss110s   C0100C        CCC   o11o     o00o
            DD110DDDDD011D    i0100i  s0011ssss010s    C1011CCCCCCCC001C  o010ooooo011o
            D1000001101DD     i1100i   s110000001s      CC1000100110011C   o00110101o
            DDDDDDDDDDD       iiiiii    sssssssss         CCCCCCCCCCCCC     oooooooo
