extends partials/layout.pug

block content
    article.dashboard
        section
            h3 Leaderboard
                span.user-count (#{userCount} total)
            //- TODO: make this 2 columns
            ol.leaderboard
        section
            h3 Player-to-Player Connections
            h4 Largest Networks by User Count
            figure.player-chart.chart
        section.stats
            h3 Locations
            p.location-discovered
            h4 Locations Found by User Count
            figure.location-chart.chart
        section.stats
            h3 Items
            p.item-discovered
            h4 Items Found by User Count
            figure.item-chart.chart
        section.stats
            h3 NPCs
            p.npc-discovered
            h4 NPCs Found by User Count
            figure.npc-chart.chart
    
    script(src='/dashboard.js')