extends partials/layout.pug

block content
    article.terminal
        section.output
            p.out #{message}
        form.game
            if convo
                label - 
            else 
                label > 
            input.prompt(autofocus='true')
    
    script.
        const APP_NAME = '#{appName}'
    script(src='/game.js')