extends partials/layout.pug

block content
    article.terminal
        section.output
            p.out #{message}
        form.game
            label > 
            input.prompt(autofocus='true')
    
    script(src='/game.js')