extends partials/layout.pug

block content
    article.terminal
        section.output
            p.out What's your handle?
        form.register(method='post')
            label > 
            input.prompt(name='handle' maxlength='30', autofocus='true')
            input.code(type='hidden', value=code)
    
    script(src='/register.js')