extends partials/layout.pug

block content
    article.terminal
        section.output
            if message
                p.out #{message}
            p.out Welcome to the game. What would you like your handle to be?
        form.register(method='post', action='/register')
            label > 
            input.prompt(name='pass', autofocus='true')
            input.handle(name='handle', type='hidden')
            input.code(name='code', type='hidden', value=code)
    
    script(src='/register.js')