/* style resets */
*, *::before, *::after {box-sizing:border-box;}
* {margin:0;padding:0;}
input, button, textarea, select {font:inherit;}
h1,h2,h3,h4,p,pre {overflow-wrap:break-word;text-wrap:balance;text-wrap:pretty;}
html,body,input {background-color:#000;color:#eee;}
.bg {
    position: fixed;
    top: 25%;
    left: 0;
    filter: grayscale(100%);
    opacity: 3%;
    z-index: 0;
    width: 100%;
}
@media (min-width: 500px) {
    .bg { top: 0; }
}
@media (min-width: 1024px) {
    .bg { width: auto; }
}

main {
    position: relative;
    z-index: 1;
}
.terminal, .terminal .out, .terminal .cmd {
    font-family: 'Consolas', fixed-width;
    padding: 0.2rem;
}
.terminal .out {
    color: #ccc;
}
.terminal .error {
    color: #ecc;
}
.terminal .user-error {
    color: #aab;
}
.terminal form {
    padding: 0.2rem;
}
.terminal label {
    float: left;
    width: 1rem;
}
input.prompt, input.prompt:focus {
    border: 0;
    background: none;
    outline: none;
    width: 95%;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Consolas', fixed-width;
}
.dashboard section {
    width: 48%;
    max-height: 48vh;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 1rem;
    overflow: hidden;
}
.dashboard section.stats {
    width: 31%;
}
.dashboard ul, .dashboard ol {
    padding-left: 2rem;
}
.dashboard h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.dashboard h4 {
    border-top: 1px solid #ddd;
    padding-top: 0.5rem;
    margin: 0.5rem 0;
}
.dashboard .chart {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-row-gap: 2px;
    width: 100%;
    padding-left: 1rem;
}
.dashboard .chart .bar {
    background-color: green;
    grid-column-start: 1;
    text-align: right;
    position: relative;
}
.dashboard .chart .bar.value-0 {
    background-color: black;
}
.dashboard .chart .label {
    position: absolute;
    left: -1rem;
}